/* FONTFACE */
.parent-container {  /* This class needs to be added to the parent container in your HTML */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center-align items vertically */
    width: 100%
}
body, html {
    font-family: Roboto, sans-serif;
    height: 100%;
    background-color: #FFC500;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* MARGINS */
.content-wrapper {
    margin: auto;
    max-width: 96%;
    padding: 4%;
}

.primColor {
    background-color: #FFC500;
}

.text {
    color: black;
    font-size: 18pt;
    font-weight: normal;
    margin-left: 3%;
    margin-right: 36%;
    margin-top: 1%;

}

.text-title {
    color: black;
    font-size: 20pt;
    font-weight: bold;
}

.title, .foot{
    color: black;
    width: 52%;
    position: relative;
    left: 25%;
    text-align: left;
    margin-top: 80px;
}
    .title {
        font-size: 35pt;
        font-weight: bold;
    }

.foot {
    font-size: 20pt;
    font-weight: bold;
    margin-top: 120px;
    color: black;
}
    .foot-title {
        font-size: 35pt;
        font-weight: bold;
    }
    .foot a {
        color: black;
        transition: color 0.5s ease;
    }
    /* Link Hover Effect */
    .foot a:hover { 
        color: #3273dc;
    }

.deatails:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.text:hover {
    background-color: #FAE29C; /* Light background on hover for readability */
    padding-left: 10px; /* Add padding for better effect */
    border-radius: 0px; /* Rounded corners for aesthetic */
}

.details {
    position: relative; 
    width: 80%;
    text-align: left;  
    margin-left: 26%;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}
/* summary {
    color: black;
    font-size: 10px
} */
.link {
    color: #0000EE;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0; /* Align to the left edge */
    right: 0; /* Align to the right edge */
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #FFC500;
}
.navbar-menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.navfit {
    margin-right: 192px;
}
/* Navbar hover effect */
.navbar-item:hover, .navbar-link:hover {
    background-color: #f4f4f4; /* Light grey background */
    color: #FAE29C; /* Bulma's primary color for contrast */
}
.navbar-item {
    font-weight: bold;
}

/* Dropdown hover effect */
.navbar-dropdown a:hover {
    background-color: black; /* Bulma's primary color for background */
    color: #ffffff; /* White text color */
}

.project-toggle {
    color: #0645ad; /* Typical link color */
    text-decoration: underline; /* Underline to mimic a hyperlink */
    cursor: pointer; /* Cursor pointer to indicate clickability */
  }
  .project-toggle:focus {
    outline: none; /* Optional: replace with a more visually appealing focus indicator */
    background-color: lightgray; /* Optional: visual feedback on focus */
  }
  